[submodule "lcls/nn_prior/lcls_cu_injector_nn_model"]
	path = lcls/nn_prior/lcls_cu_injector_nn_model
	url = https://github.com/t-bz/lcls_cu_injector_nn_model.git
[submodule "lcls/nn_prior/calibration/calibration_modules"]
	path = lcls/nn_prior/calibration/calibration_modules
	url = https://github.com/t-bz/calibration_modules
