# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
*.pyc
# macOS file system
.DS_Store
# Jupyter Notebook
.ipynb_checkpoints
# Compiled Python files
*.pyc
# Large files
/NN_prior/BO
/NN_prior/corr_models
